extends layout

block content
  h1= title
  - 
   let mobilePhones=results
  div(class="container-fluid")
  div(class="row")
    each mobilePhone,index  in mobilePhones
      div(class="col-sm-2 bg-primary m-2 p-4" 
          onclick=`buy(${index})`) #{mobilePhone.brand} -- #{mobilePhone.model} -- #{mobilePhone.cost} -- #{mobilePhone.color}
  script.
    function buy(itemNumber)
      {
        alert(`You purchased Item ${itemNumber+1}`)
      }
      